settings set target.x86-disassembly-flavor intel
settings set prompt "(hmassonn) "

script print "\033[36mhhhhhhh"
script print "h:::::h"
script print "h:::::h"
script print "h:::::h"
script print " h::::h hhhhh          mmmmmmm    mmmmmmm     aaaaaaaaaaaaa      ssssssssss       ssssssssss      ooooooooooo   nnnn  nnnnnnnn    nnnn  nnnnnnnn"
script print " h::::hh:::::hhh     mm:::::::m  m:::::::mm   a::::::::::::a   ss::::::::::s    ss::::::::::s   oo:::::::::::oo n:::nn::::::::nn  n:::nn::::::::nn"
script print " h::::::::::::::hh  m::::::::::mm::::::::::m  aaaaaaaaa:::::ass:::::::::::::s ss:::::::::::::s o:::::::::::::::on::::::::::::::nn n::::::::::::::nn"
script print " h:::::::hhh::::::h m::::::::::::::::::::::m           a::::as::::::ssss:::::ss::::::ssss:::::so:::::ooooo:::::onn:::::::::::::::nnn:::::::::::::::n"
script print " h::::::h   h::::::hm:::::mmm::::::mmm:::::m    aaaaaaa:::::a s:::::s  ssssss  s:::::s  ssssss o::::o     o::::o  n:::::nnnn:::::n  n:::::nnnn:::::n"
script print " h:::::h     h:::::hm::::m   m::::m   m::::m  aa::::::::::::a   s::::::s         s::::::s      o::::o     o::::o  n::::n    n::::n  n::::n    n::::n"
script print " h:::::h     h:::::hm::::m   m::::m   m::::m a::::aaaa::::::a      s::::::s         s::::::s   o::::o     o::::o  n::::n    n::::n  n::::n    n::::n"
script print " h:::::h     h:::::hm::::m   m::::m   m::::ma::::a    a:::::assssss   s:::::s ssssss   s:::::s o::::o     o::::o  n::::n    n::::n  n::::n    n::::n"
script print " h:::::h     h:::::hm::::m   m::::m   m::::ma::::a    a:::::as:::::ssss::::::ss:::::ssss::::::so:::::ooooo:::::o  n::::n    n::::n  n::::n    n::::n"
script print " h:::::h     h:::::hm::::m   m::::m   m::::ma:::::aaaa::::::as::::::::::::::s s::::::::::::::s o:::::::::::::::o  n::::n    n::::n  n::::n    n::::n"
script print " h:::::h     h:::::hm::::m   m::::m   m::::m a::::::::::aa:::as:::::::::::ss   s:::::::::::ss   oo:::::::::::oo   n::::n    n::::n  n::::n    n::::n"
script print " hhhhhhh     hhhhhhhmmmmmm   mmmmmm   mmmmmm  aaaaaaaaaa  aaaa sssssssssss      sssssssssss       ooooooooooo     nnnnnn    nnnnnn  nnnnnn    nnnnnn\n\033[0m"
